{% extends 'base.html' %}

{% load static %}

{% block contenidoQCambia %}
<link rel="stylesheet" type="text/css" href="{% static 'css/res_busqueda_empresa.css' %}">

<div class="container">
    <p>Estas buscando los videojuegos de la empresa: {{empresa}}</p>
    
    {% if videojuegos %}
        <ul>
            {% for videojuego in videojuegos %}
                <li>
                    {{videojuego.nombre}} - {{videojuego.genero}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron videojuegos de esa empresa</p>
    {% endif %}
</div>

        
{% endblock contenidoQCambia %}