form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
h1 {
    text-align: center;
}

.ordenar-por {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #00e676;
    padding: 8px;
}

th {
    background-color: #00e676;
}

td {
    max-width: 250px;
    text-align: justify;
}

tbody tr td:first-child {
    text-align: left;
}

tbody tr td:nth-child(2), tbody tr td:nth-child(6) {
    width: 15%;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
    width: 20
}
.columna-remitente,
.columna-destinatario,
.columna-ultimomensaje,
.columna-fecha,
.columna-acciones {
    color: black;
}