h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-group {
  background-color: #00e676;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  background-color: #00e676;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
}


